@primaryColor:#FF8E00; // 主题色
@primaryColorBg:#ff8c00b7; // 主题浅色
@ContrastColor:#fff; // 主题反色
@bannerBg:rgba(156, 93, 204, 0.8); // banner背景
@bottomBg:#002366; // 底部背景色
@bottomTxtColor:rgba(255,255,255,0.8); // 底部字体色
@loginBottomBg:#fff; // 登录页底部背景色
@loginBottomTxtColor:#999; // 登录页字体色