body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: Microsoft Yahei, Arial, 'Hiragino Sans GB', Helvetica Neue, Helvetica, sans-serif !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  outline: none;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

input {
  background-color: transparent;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
