<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.model.mapper.AccountAttrMapper">
    
    <resultMap type="AccountAttr" id="AccountAttrResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="updateId"    column="update_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="att1"    column="att1"    />
        <result property="att2"    column="att2"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectAccountAttrVo">
        select id, create_id, update_id, create_time, update_time, att1, att2, type from account_attr
    </sql>

    <select id="selectAccountAttrList" parameterType="AccountAttr" resultMap="AccountAttrResult">
        <include refid="selectAccountAttrVo"/>
        <where>  
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            <if test="att1 != null  and att1 != ''"> and att1 = #{att1}</if>
            <if test="att2 != null  and att2 != ''"> and att2 = #{att2}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectAccountAttrById" parameterType="Long" resultMap="AccountAttrResult">
        <include refid="selectAccountAttrVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAccountAttr" parameterType="AccountAttr" useGeneratedKeys="true" keyProperty="id">
        insert into account_attr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="updateId != null">update_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="att1 != null">att1,</if>
            <if test="att2 != null">att2,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="att1 != null">#{att1},</if>
            <if test="att2 != null">#{att2},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateAccountAttr" parameterType="AccountAttr">
        update account_attr
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="att1 != null">att1 = #{att1},</if>
            <if test="att2 != null">att2 = #{att2},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAccountAttrById" parameterType="Long">
        delete from account_attr where id = #{id}
    </delete>

    <delete id="deleteAccountAttrByIds" parameterType="String">
        delete from account_attr where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>