<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.model.mapper.InterNameMapper">

    <resultMap type="InterName" id="InterNameResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="updateId"    column="update_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
    </resultMap>

    <sql id="selectInterNameVo">
        select id, create_id, update_id, create_time, update_time, name, code from inter_name
    </sql>

    <select id="selectInterNameList" parameterType="InterName" resultMap="InterNameResult">
        <include refid="selectInterNameVo"/>
        <where>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
        </where>
    </select>

    <select id="selectInterNameById" parameterType="Long" resultMap="InterNameResult">
        <include refid="selectInterNameVo"/>
        where id = #{id}
    </select>

    <insert id="insertInterName" parameterType="InterName" useGeneratedKeys="true" keyProperty="id">
        insert into inter_name
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="updateId != null">update_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
         </trim>
    </insert>

    <update id="updateInterName" parameterType="InterName">
        update inter_name
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInterNameById" parameterType="Long">
        delete from inter_name where id = #{id}
    </delete>

    <delete id="deleteInterNameByIds" parameterType="String">
        delete from inter_name where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
