<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.model.mapper.PolishMapper">
    
    <resultMap type="Polish" id="PolishResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="updateId"    column="update_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="accountid"    column="accountid"    />
    </resultMap>

    <sql id="selectPolishVo">
        select id, create_id, update_id, create_time, update_time, accountid from polish
    </sql>

    <select id="selectPolishList" parameterType="Polish" resultMap="PolishResult">
        <include refid="selectPolishVo"/>
        <where>  
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            <if test="accountid != null "> and accountid = #{accountid}</if>
        </where>
    </select>
    
    <select id="selectPolishById" parameterType="Long" resultMap="PolishResult">
        <include refid="selectPolishVo"/>
        where id = #{id}
    </select>
    <select id="selectDataNow" parameterType="Long" resultMap="PolishResult">
        <include refid="selectPolishVo"/>
        where create_id = #{createId} and to_days(create_time) = to_days(now());
    </select>

    <insert id="insertPolish" parameterType="Polish" useGeneratedKeys="true" keyProperty="id">
        insert into polish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="updateId != null">update_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="accountid != null">accountid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="accountid != null">#{accountid},</if>
         </trim>
    </insert>

    <update id="updatePolish" parameterType="Polish">
        update polish
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="accountid != null">accountid = #{accountid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePolishById" parameterType="Long">
        delete from polish where id = #{id}
    </delete>

    <delete id="deletePolishByIds" parameterType="String">
        delete from polish where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>