<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.V2.hsgame.mapper.HsGameMapper">
    
    <resultMap type="HsGame" id="HsGameResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="gameName"    column="game_name"    />
    </resultMap>

    <sql id="selectHsGameVo">
        select id, create_id, create_time, game_name from hs_game
    </sql>

    <select id="selectHsGameList" parameterType="HsGame" resultMap="HsGameResult">
        <include refid="selectHsGameVo"/>
        <where>  
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
        </where>
    </select>
    
    <select id="selectHsGameById" parameterType="Long" resultMap="HsGameResult">
        <include refid="selectHsGameVo"/>
        where id = #{id}
    </select>
    <select id="selectHsGameByCreateId" parameterType="Long" resultMap="HsGameResult">
        <include refid="selectHsGameVo"/>
        where create_id = #{createId}
    </select>

    <insert id="insertHsGame" parameterType="HsGame" useGeneratedKeys="true" keyProperty="id">
        insert into hs_game
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="gameName != null">game_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="gameName != null">#{gameName},</if>
         </trim>
    </insert>

    <update id="updateHsGame" parameterType="HsGame">
        update hs_game
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="gameName != null">game_name = #{gameName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHsGameById" parameterType="Long">
        delete from hs_game where id = #{id}
    </delete>

    <delete id="deleteHsGameByIds" parameterType="String">
        delete from hs_game where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>