<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.V2.financial.mapper.BillTypeMapper">
    
    <resultMap type="BillType" id="BillTypeResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="updateId"    column="update_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="iotype"    column="iotype"    />
        <result property="rname"    column="rname"    />
        <result property="filids"    column="filids"    />
    </resultMap>

    <sql id="selectBillTypeVo">
        select id, create_id, update_id, create_time, update_time, iotype, rname,filids from bill_type
    </sql>

    <select id="selectBillTypeList" parameterType="BillType" resultMap="BillTypeResult">
        <include refid="selectBillTypeVo"/>
        <where>  
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            <if test="iotype != null  and iotype != ''"> and iotype = #{iotype}</if>
            <if test="rname != null  and rname != ''"> and rname like concat('%', #{rname}, '%')</if>
        </where>
    </select>
    
    <select id="selectBillTypeById" parameterType="Long" resultMap="BillTypeResult">
        <include refid="selectBillTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBillType" parameterType="BillType" useGeneratedKeys="true" keyProperty="id">
        insert into bill_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="updateId != null">update_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="iotype != null">iotype,</if>
            <if test="rname != null">rname,</if>
            <if test="filids != null">filids,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="iotype != null">#{iotype},</if>
            <if test="rname != null">#{rname},</if>
            <if test="filids != null">#{filids},</if>
         </trim>
    </insert>

    <update id="updateBillType" parameterType="BillType">
        update bill_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="iotype != null">iotype = #{iotype},</if>
            <if test="rname != null">rname = #{rname},</if>
            <if test="filids != null">filids = #{filids},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBillTypeById" parameterType="Long">
        delete from bill_type where id = #{id}
    </delete>

    <delete id="deleteBillTypeByIds" parameterType="String">
        delete from bill_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>