<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.V2.gameAttr.mapper.AccountAttrValueMapper">
    
    <resultMap type="AccountAttrValue" id="AccountAttrValueResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="updateId"    column="update_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="accountInfoId"    column="account_info_id"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="f1"    column="f1"    />
        <result property="f2"    column="f2"    />
        <result property="f3"    column="f3"    />
        <result property="f4"    column="f4"    />
        <result property="f5"    column="f5"    />
        <result property="f6"    column="f6"    />
        <result property="f7"    column="f7"    />
        <result property="f8"    column="f8"    />
        <result property="f9"    column="f9"    />
        <result property="f10"    column="f10"    />
        <result property="f11"    column="f11"    />
        <result property="f12"    column="f12"    />
        <result property="f13"    column="f13"    />
        <result property="f14"    column="f14"    />
        <result property="f15"    column="f15"    />
        <result property="f16"    column="f16"    />
        <result property="f17"    column="f17"    />
        <result property="f18"    column="f18"    />
        <result property="f19"    column="f19"    />
        <result property="f20"    column="f20"    />

    </resultMap>

    <sql id="selectAccountAttrValueVo">
        select id, create_id, update_id, create_time, update_time, account_info_id, game_id, game_name, f1, f2, f3,
        f4, f5, f6, f7, f8, f9, f10,f11,f12,f13,f14,f15,f16,f17,f18,f19,f20 from account_attr_value
    </sql>

    <select id="selectAccountAttrValueList" parameterType="AccountAttrValue" resultMap="AccountAttrValueResult">
        <include refid="selectAccountAttrValueVo"/>
        <where>  
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            <if test="accountInfoId != null "> and account_info_id = #{accountInfoId}</if>
            <if test="gameId != null "> and game_id = #{gameId}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
            <if test="f1 != null  and f1 != ''"> and f1 = #{f1}</if>
            <if test="f2 != null  and f2 != ''"> and f2 = #{f2}</if>
            <if test="f3 != null  and f3 != ''"> and f3 = #{f3}</if>
            <if test="f4 != null  and f4 != ''"> and f4 = #{f4}</if>
            <if test="f5 != null  and f5 != ''"> and f5 = #{f5}</if>
            <if test="f6 != null  and f6 != ''"> and f6 = #{f6}</if>
            <if test="f7 != null  and f7 != ''"> and f7 = #{f7}</if>
            <if test="f8 != null  and f8 != ''"> and f8 = #{f8}</if>
            <if test="f9 != null  and f9 != ''"> and f9 = #{f9}</if>
            <if test="f10 != null  and f10 != ''"> and f10 = #{f10}</if>
            <if test="f11 != null  and f11 != ''"> and f11 = #{f11}</if>
            <if test="f12 != null  and f12 != ''"> and f12 = #{f12}</if>
            <if test="f13 != null  and f13 != ''"> and f13 = #{f13}</if>
            <if test="f14 != null  and f14 != ''"> and f14 = #{f14}</if>
            <if test="f15 != null  and f15 != ''"> and f15 = #{f15}</if>
            <if test="f16 != null  and f16 != ''"> and f16 = #{f16}</if>
            <if test="f17 != null  and f17 != ''"> and f17 = #{f17}</if>
            <if test="f18 != null  and f18 != ''"> and f18 = #{f18}</if>
            <if test="f19 != null  and f19 != ''"> and f19 = #{f19}</if>
            <if test="f20 != null  and f20 != ''"> and f20 = #{f20}</if>
        </where>
    </select>
    
    <select id="selectAccountAttrValueById" parameterType="Long" resultMap="AccountAttrValueResult">
        <include refid="selectAccountAttrValueVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAccountAttrValue" parameterType="AccountAttrValue" useGeneratedKeys="true" keyProperty="id">
        insert into account_attr_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="updateId != null">update_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="accountInfoId != null">account_info_id,</if>
            <if test="gameId != null">game_id,</if>
            <if test="gameName != null">game_name,</if>
            <if test="f1 != null">f1,</if>
            <if test="f2 != null">f2,</if>
            <if test="f3 != null">f3,</if>
            <if test="f4 != null">f4,</if>
            <if test="f5 != null">f5,</if>
            <if test="f6 != null">f6,</if>
            <if test="f7 != null">f7,</if>
            <if test="f8 != null">f8,</if>
            <if test="f9 != null">f9,</if>
            <if test="f10 != null">f10,</if>
            <if test="f11 != null">f11,</if>
            <if test="f12 != null">f12,</if>
            <if test="f13 != null">f13,</if>
            <if test="f14 != null">f14,</if>
            <if test="f15 != null">f15,</if>
            <if test="f16 != null">f16,</if>
            <if test="f17 != null">f17,</if>
            <if test="f18 != null">f18,</if>
            <if test="f19 != null">f19,</if>
            <if test="f20 != null">f20,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="accountInfoId != null">#{accountInfoId},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="gameName != null">#{gameName},</if>
            <if test="f1 != null">#{f1},</if>
            <if test="f2 != null">#{f2},</if>
            <if test="f3 != null">#{f3},</if>
            <if test="f4 != null">#{f4},</if>
            <if test="f5 != null">#{f5},</if>
            <if test="f6 != null">#{f6},</if>
            <if test="f7 != null">#{f7},</if>
            <if test="f8 != null">#{f8},</if>
            <if test="f9 != null">#{f9},</if>
            <if test="f10 != null">#{f10},</if>
            <if test="f11 != null">#{f11},</if>
            <if test="f12 != null">#{f12},</if>
            <if test="f13 != null">#{f13},</if>
            <if test="f14 != null">#{f14},</if>
            <if test="f15 != null">#{f15},</if>
            <if test="f16 != null">#{f16},</if>
            <if test="f17 != null">#{f17},</if>
            <if test="f18 != null">#{f18},</if>
            <if test="f19 != null">#{f19},</if>
            <if test="f20 != null">#{f20},</if>
         </trim>
    </insert>

    <update id="updateAccountAttrValue" parameterType="AccountAttrValue">
        update account_attr_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="accountInfoId != null">account_info_id = #{accountInfoId},</if>
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="gameName != null">game_name = #{gameName},</if>
            <if test="f1 != null">f1 = #{f1},</if>
            <if test="f2 != null">f2 = #{f2},</if>
            <if test="f3 != null">f3 = #{f3},</if>
            <if test="f4 != null">f4 = #{f4},</if>
            <if test="f5 != null">f5 = #{f5},</if>
            <if test="f6 != null">f6 = #{f6},</if>
            <if test="f7 != null">f7 = #{f7},</if>
            <if test="f8 != null">f8 = #{f8},</if>
            <if test="f9 != null">f9 = #{f9},</if>
            <if test="f10 != null">f10 = #{f10},</if>
            <if test="f11 != null">f11 = #{f11},</if>
            <if test="f12 != null">f12 = #{f12},</if>
            <if test="f13 != null">f13 = #{f13},</if>
            <if test="f14 != null">f14 = #{f14},</if>
            <if test="f15 != null">f15 = #{f15},</if>
            <if test="f16 != null">f16 = #{f16},</if>
            <if test="f17 != null">f17 = #{f17},</if>
            <if test="f18 != null">f18 = #{f18},</if>
            <if test="f19 != null">f19 = #{f19},</if>
            <if test="f20 != null">f20 = #{f20},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAccountAttrValueById" parameterType="Long">
        delete from account_attr_value where id = #{id}
    </delete>

    <delete id="deleteAccountAttrValueByIds" parameterType="String">
        delete from account_attr_value where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectAccountAttrValueByAccountInfoId" parameterType="Long" resultMap="AccountAttrValueResult">
        <include refid="selectAccountAttrValueVo"/>
        where account_info_id = #{accountInfoId}
    </select>

</mapper>